* {
    scroll-behavior: smooth;
}
.m {
    margin: 0;
    font-family: Cairo-Light;
}
#m_0 {
    position: fixed;
    right: 0;
    top: 0;
    overflow: none;
    width: 100%;
    z-index: -1;
}
#m_1 {
    display: none;
}