div
{
    /* div properties */
    margin: 15px;
    /* text propertis */
    direction: rtl;
    letter-spacing: normal
}
div :active
{
    color: brown;
    font-size: xx-large;
}
div.ar
{
    direction: rtl;
}
img[title="mmq4"]
{
    border-radius: 20px;
}
body
{
    background-color: gray;

}
ul
{
   list-style-type: disc;
   list-style-position: inside;
   list-style-image:url(imoge.png); font-size:smaller;
   background-color: cadetblue;
   text-decoration: none;
}
div[footer]
{
    background-color:red;
    font-size: 20px;
    font-weight: bold;
    font: xx-large;
}
.contener
{
    background-color: black;
    color: white;
    display: flex; 
    flex-direction: row;
    border:5px double white
}
