.s0_0_1one
{
    height:180px;
    width:1259px;
    font-family: cairo-light;
    background-color: rgba(226,226,226,1);
    flex-direction: row;
    float:right;
    border:rgba(0,44,73,1) 2px solid;
}

.s0_0_1two 
{
    height:180px;
    width:200px;
    float:right;
}

.s0_0_1three 
{
    font-weight:bold;
    float:right;
    font-size:35px;
    color:rgba(41,201,226,1);
    position: relative;
    top:50px;
    right:5px
}

.s0_0_1four
{
   height:40px;
   width:40px;
    float:right;
    border:rgba(41,201,226,1) 2px solid;
    background-color: rgba(226,226,226,1);
    text-align:center;
    border-radius:20%;
    padding:10px;
    margin: 0 30px 0 0;
    font-size:20px;
    
}

.s0_0_1five
{
    float:right;
    font-size:35px;
    font-weight:bold;
    position: relative;
    top:50px;
    left:740px;
   
   
}

.s0_0_1six
{
    text-decoration:none;
    color:rgba(0,44,73,1)
}

.s0_0_1six:hover
{
    color:rgba(41,201,226,1)
}