@font-face {
	font-family: segoeui;
	src: url("./segoeui.ttf") format("truetype");
}
@font-face {
	font-family: segoeuib;
	src: url("./segoeuib.ttf") format("truetype");
}
@font-face {
	font-family: segoeuii;
	src: url("./segoeuii.ttf") format("truetype");
}
@font-face {
	font-family: segoeuil;
	src: url("./segoeuil.ttf") format("truetype");
}
@font-face {
	font-family: segoeuisl;
	src: url("./segoeuisl.ttf") format("truetype");
}
@font-face {
	font-family: segoeuiz;
	src: url("./segoeuiz.ttf") format("truetype");
}
@font-face {
	font-family: seguibl;
	src: url("./seguibl.ttf") format("truetype");
}
@font-face {
	font-family: seguibli;
	src: url("./seguibli.ttf") format("truetype");
}
@font-face {
	font-family: seguili;
	src: url("./seguili.ttf") format("truetype");
}
@font-face {
	font-family: seguisb;
	src: url("./seguisb.ttf") format("truetype");
}
@font-face {
	font-family: seguisbi;
	src: url("./seguisbi.ttf") format("truetype");
}
@font-face {
	font-family: seguisli;
	src: url("./seguisli.ttf") format("truetype");
}