#f_0 {
    display: flex;
    margin: 20px;
    flex-direction: column;
}
#f_0_0 {
    display: flex;
    flex-direction: row;
}
#f_0_0_0 { 
    display: flex;
    padding: 20px;
    flex-direction: row;
}
#f_0_0_0_0 {
    fill: rgba(0, 44, 73, 1);
}
#f_0_0_0_1 {
    fill: rgba(42, 213, 239, 1);
    padding: 0 20px 0 0;
}
#f_0_0_1 {
    margin: 50px 0 0 0;
}
#f_0_0_2_0_0 {
    height: 57px;
}