#h {
    box-shadow: 0 3px 7px rgba(26, 30, 30, 0.3);
}
#h_0 {
    padding: 50px;
}
#h_0_0 {
    display: flex;
    margin: auto;
    width: 317px;
    flex-direction: row;
}
#h_0_0_0_0 {
    height: 100px;
}
#h_0_0_1 {
    padding: 25px;
    width: 158px;
    font-family: segoeuib;
    line-height: 25px;
}
#h_0_0_1_0 {
    color: rgba(0, 44, 73, 1);
    font-size: 30px;
}
#h_0_0_1_1 {
    color: rgba(83, 92, 93, 1);
    font-size: 22.5px;
}
#h_1 {
    position: static;
    font-family: segoeuib;
    z-index: 1;
}
#h_1_0 {
    display: flex;
    margin: auto;
    width: 601px;
    flex-direction: row;
}
#h_1_0_0, #h_1_0_1, #h_1_0_2, #h_1_0_3 {
    color: rgba(83, 92, 93, 1);
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
}
#h_1_0_0:hover, #h_1_0_1:hover, #h_1_0_2:hover, #h_1_0_3:hover {
    cursor: pointer;
    color: rgba(42, 213, 239, 1);
    padding: 10px 20px 7.5px 20px;
    border-color: rgba(42, 213, 239, 1);
    border-style: solid;
    border-width:  0 0 2.5px 0;
}
#h_1_1 {
    padding: 20px 0;
    background-color: rgba(237, 237, 237, 1);
}
#h_1_1_0 {
    height: 6.4px;
    margin: auto;
    width: 50%;
    background-color: rgba(83, 92, 93, 1);
    border-radius: 6.4px;
}
#h_2 {
    display: none;
    height: 46.4px;
}
@media (max-width: 1030px) {
    #h {
        box-shadow: 0 3px 7px rgba(26, 30, 30, 0.3);
    }
    #h_0 {
        padding: 50px;
    }
    #h_0_0 {
        display: flex;
        margin: auto;
        flex-direction: column;
    }
    #h_0_0_0 {
        width: 100%;
    }
    #h_0_0_0_0 {
        display: block;
        height: 100px;
        margin: auto;
        width: 110.900px;
    }
    #h_0_0_1 {
        margin: 25px 0 0 0;
        padding: 0;
        width: 100%;
        font-family: segoeuib;
        line-height: 25px;
    }
    #h_0_0_1_0 {
        color: rgba(0, 44, 73, 1);
        font-size: 30px;
        text-align: center;
    }
    #h_0_0_1_1 {
        color: rgba(83, 92, 93, 1);
        font-size: 22.5px;
        text-align: center;
    }
    #h_1 {
        bottom: 0;
        position: fixed;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 -3px 7px rgba(26, 30, 30, 0.3);
        font-family: segoeuib;
    }
    #h_1_0 {
        display: flex;
        margin: auto;
        width: 521px;
        flex-direction: row;
    }
    #h_1_0_0, #h_1_0_1, #h_1_0_2, #h_1_0_3 {
        margin: 0;
        font-size: 20px;
    }
}