.s2 {
    background-color: rgba(255, 255, 255, 0);
}
#s2_0 {
    padding: 50px;
}
#s2_0_0 {
    color: rgba(41, 201, 226, 1);
    padding: 10px;
    font-family: Cairo-Bold;
    background-color: rgba(226, 226, 226, 1);
    border-color: rgba(41, 201, 226, 1);
    border-style: solid;
    border-width: 0 0 5px 0;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    text-align: center;
}
#s2_0_1,
#s2_0_2,
#s2_0_3,
#s2_0_4 {
    color: rgba(0, 0, 0, 1);
    display: flex;
    height: 300px;
    flex-direction: row;
    margin-bottom: 50px;
    text-decoration: none;
    transition: transform 0.5s ease-out;
}
#s2_0_4 {
    margin-bottom: 0;
}
#s2_0_1_0,
#s2_0_2_0,
#s2_0_3_0,
#s2_0_4_0 {
    padding: 50px;
    background-color: rgba(0, 44, 73, 1);
    border-color: rgba(41, 201, 226, 1);
    border-style: solid;
    border-width: 5px;
}
#s2_0_1_0_0,
#s2_0_2_0_0,
#s2_0_3_0_0,
#s2_0_4_0_0 {
    height: 200px;
    width: 200px;
}
#s2_0_1_0_0_0,
#s2_0_2_0_0_0,
#s2_0_3_0_0_0,
#s2_0_4_0_0_0 {
    height: 100%;
    margin: auto;
    width: 100%;
}
#s2_0_1_1,
#s2_0_2_1,
#s2_0_3_1,
#s2_0_4_1 {
    display: flex;
    width: 100%;
    border-color: rgba(41, 201, 226, 1);
    border-style: solid;
    border-width: 5px 0 5px 5px;
    flex-direction: column;
}
#s2_0_1_1_0,
#s2_0_2_1_0,
#s2_0_3_1_0,
#s2_0_4_1_0 {
    color: rgba(41, 201, 226, 1);
    padding: 10px;
    font-family: Cairo-Bold;
}
#s2_0_1_1_1,
#s2_0_2_1_1,
#s2_0_3_1_1,
#s2_0_4_1_1 {
    height: 100%;
    overflow: auto;
    padding: 2.5px 10px;
    text-align: justify;
    text-justify: inter-word;
}
@media (max-width: 700px) {
    #s2_0_1,
    #s2_0_2,
    #s2_0_3,
    #s2_0_4 {
        display: flex;
        height: 225px;
        flex-direction: row;
        margin-bottom: 50px;
    }
    #s2_0_4 {
        margin-bottom: 0;
    }
    #s2_0_1_0,
    #s2_0_2_0,
    #s2_0_3_0,
    #s2_0_4_0 {
        padding: 37.5px;
        background-color: rgba(0, 44, 73, 1);
        border-color: rgba(41, 201, 226, 1);
        border-style: solid;
        border-width: 5px;
    }
    #s2_0_1_0_0,
    #s2_0_2_0_0,
    #s2_0_3_0_0,
    #s2_0_4_0_0 {
        height: 150px;
    }
    #s2_0_1_1,
    #s2_0_2_1,
    #s2_0_3_1,
    #s2_0_4_1 {
        display: flex;
        width: 100%;
        border-color: rgba(41, 201, 226, 1);
        border-style: solid;
        border-width: 5px 0 5px 5px;
        flex-direction: column;
    }
    #s2_0_1_1_0,
    #s2_0_2_1_0,
    #s2_0_3_1_0,
    #s2_0_4_1_0 {
        padding: 10px;
        font-family: Cairo-Bold;
    }
    #s2_0_1_1_1,
    #s2_0_2_1_1,
    #s2_0_3_1_1,
    #s2_0_4_1_1 {
        height: 100%;
        overflow: auto;
        padding: 10px;
    }
}