.s0 {
    background-color: rgba(255, 255, 255, 0);
}
#s0_0 {
    padding: 50px;
}
#s0_0_0 {
    color: rgba(41, 201, 226, 1);
    padding: 10px;
    font-family: Cairo-Bold;
    background-color: rgba(226, 226, 226, 1);
    border-color: rgba(41, 201, 226, 1);
    border-style: solid;
    border-width: 0 0 5px 0;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    text-align: center;
}
#s0_0_2,
#s0_0_3,
#s0_0_4,
#s0_0_5 {
    color: rgba(0, 0, 0, 1);
    display: flex;
    height: 300px;
    flex-direction: row;
    margin-bottom: 50px;
}
#s0_0_5 {
    margin-bottom: 0;
}
#s0_0_2_0,
#s0_0_3_0,
#s0_0_4_0,
#s0_0_4_0,
#s0_0_5_0 {
    padding: 50px;
    background-color: rgba(0, 44, 73, 1);
    border-color: rgba(41, 201, 226, 1);
    border-style: solid;
    border-width: 5px;
}
#s0_0_2_0_0,
#s0_0_3_0_0,
#s0_0_4_0_0,
#s0_0_5_0_0 {
    height: 200px;
    width: 200px;
}
#s0_0_2_0_0_0,
#s0_0_3_0_0_0,
#s0_0_4_0_0_0,
#s0_0_5_0_0_0 {
    color: rgba(41, 201, 226, 1);
    height: 100%;
    margin: auto;
    width: 100%;
    font-size: 180px;
    text-align: center;
}
#s0_0_2_1,
#s0_0_3_1,
#s0_0_4_1,
#s0_0_5_1 {
    display: flex;
    width: 100%;
    border-color: rgba(41, 201, 226, 1);
    border-style: solid;
    border-width: 5px 0 5px 5px;
    flex-direction: column;
}
#s0_0_2_1_0,
#s0_0_3_1_0,
#s0_0_4_1_0,
#s0_0_5_1_0 {
    color: rgba(41, 201, 226, 1);
    padding: 10px;
    font-family: Cairo-Bold;
}
#s0_0_2_1_1,
#s0_0_3_1_1,
#s0_0_4_1_1,
#s0_0_5_1_1 {
    overflow: auto;
    padding: 2.5px 10px;
    max-width: 100%;
}
#s0_0_2_1_1_0, #s0_0_2_1_1_1,
#s0_0_3_1_1_0, #s0_0_3_1_1_1,
#s0_0_4_1_1_0, #s0_0_4_1_1_1,
#s0_0_5_1_1_0, #s0_0_5_1_1_1, #s0_0_5_1_1_2, #s0_0_5_1_1_3 {
    padding: 10px 0;
    border-color: rgba(41, 201, 226, 1);
    border-style: solid;
    border-width: 0 0 5px 0;
}
#s0_0_1_1_1_1,
#s0_0_2_1_1_1,
#s0_0_3_1_1_1,
#s0_0_4_1_1_1,
#s0_0_5_1_1_0, #s0_0_5_1_1_1 ,#s0_0_5_1_1_3 {
    border-width: 0 0 0 0;
}
#s0_0_2_1_1_0_0, #s0_0_2_1_1_0_1, #s0_0_2_1_1_0_2, #s0_0_2_1_1_0_3, #s0_0_2_1_1_0_4, #s0_0_2_1_1_0_5, #s0_0_2_1_1_0_6,
#s0_0_2_1_1_1_0, /*more*/
#s0_0_3_1_1_0_0, #s0_0_3_1_1_0_1, #s0_0_3_1_1_0_2, #s0_0_3_1_1_0_3,
#s0_0_3_1_1_1_0, /*more*/
#s0_0_4_1_1_0_0, #s0_0_4_1_1_0_1, #s0_0_4_1_1_0_2, #s0_0_4_1_1_0_3,
#s0_0_4_1_1_1_0, /*more*/
#s0_0_5_1_1_0_1_0, #s0_0_5_1_1_0_1_1, #s0_0_5_1_1_0_1_2, #s0_0_5_1_1_0_1_3,
/*#s0_0_5_1_1_0_2_0, #s0_0_5_1_1_0_2_1, #s0_0_5_1_1_0_2_2, #s0_0_5_1_1_0_2_3,*/
#s0_0_5_1_1_1_1_0, #s0_0_5_1_1_1_1_1, #s0_0_5_1_1_1_1_2, #s0_0_5_1_1_1_1_3,
/*#s0_0_5_1_1_1_2_0, #s0_0_5_1_1_1_2_1, #s0_0_5_1_1_1_2_2, #s0_0_5_1_1_1_2_3,*/
#s0_0_5_1_1_2_1_0, #s0_0_5_1_1_2_1_1, #s0_0_5_1_1_2_1_2, #s0_0_5_1_1_2_1_3,
/*#s0_0_5_1_1_2_2_0, #s0_0_5_1_1_2_2_1, #s0_0_5_1_1_2_2_2, #s0_0_5_1_1_2_2_3,*/
#s0_0_5_1_1_3_0 {
    color: rgba(41, 201, 226, 1);
    display: inline-block;
    transition: transform 0.5s ease-out;
    width: 150px;
    background-color: rgba(0, 44, 73, 1);
    border-radius: 29.6px;
    font-family: Cairo-Bold;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}
#s0_0_2_1_1_0_0:hover, #s0_0_2_1_1_0_1:hover, #s0_0_2_1_1_0_2:hover, #s0_0_2_1_1_0_3:hover, #s0_0_2_1_1_0_4:hover, #s0_0_2_1_1_0_5:hover, #s0_0_2_1_1_0_6:hover,
#s0_0_2_1_1_1_0:hover, /*more*/
#s0_0_3_1_1_0_0:hover, #s0_0_3_1_1_0_1:hover, #s0_0_3_1_1_0_2:hover, #s0_0_3_1_1_0_3:hover,
#s0_0_3_1_1_1_0:hover, /*more*/
#s0_0_4_1_1_0_0:hover, #s0_0_4_1_1_0_1:hover, #s0_0_4_1_1_0_2:hover, #s0_0_4_1_1_0_3:hover,
#s0_0_4_1_1_1_0:hover, /*more*/
#s0_0_5_1_1_0_1_0:hover, #s0_0_5_1_1_0_1_1:hover, #s0_0_5_1_1_0_1_2:hover, #s0_0_5_1_1_0_1_3:hover,
/*#s0_0_5_1_1_0_2_0:hover, #s0_0_5_1_1_0_2_1:hover, #s0_0_5_1_1_0_2_2:hover, #s0_0_5_1_1_0_2_3:hover,*/
#s0_0_5_1_1_1_1_0:hover, #s0_0_5_1_1_1_1_1:hover, #s0_0_5_1_1_1_1_2:hover, #s0_0_5_1_1_1_1_3:hover,
/*#s0_0_5_1_1_1_2_0:hover, #s0_0_5_1_1_1_2_1:hover, #s0_0_5_1_1_1_2_2:hover, #s0_0_5_1_1_1_2_3:hover,*/
#s0_0_5_1_1_2_1_0:hover, #s0_0_5_1_1_2_1_1:hover, #s0_0_5_1_1_2_1_2:hover, #s0_0_5_1_1_2_1_3:hover,
/*#s0_0_5_1_1_2_2_0:hover, #s0_0_5_1_1_2_2_1:hover, #s0_0_5_1_1_2_2_2:hover, #s0_0_5_1_1_2_2_3:hover,*/
#s0_0_5_1_1_3_0:hover {
    transform: translate(0, -2.5px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
}
@media (max-width: 869.600px) {
    .s0 {
        background-color: rgba(255, 255, 255, 0);
    }
    #s0_0 {
        padding: 25px;
    }
    #s0_0_0 {
        color: rgba(41, 201, 226, 1);
        padding: 5px;
        font-family: Cairo-Bold;
        background-color: rgba(226, 226, 226, 1);
        border-color: rgba(41, 201, 226, 1);
        border-style: solid;
        border-width: 0 0 2.5px 0;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
        margin-bottom: 50px;
        text-align: center;
    }
    #s0_0_2,
    #s0_0_3,
    #s0_0_4,
    #s0_0_5 {
        color: rgba(0, 0, 0, 1);
        display: flex;
        height: 150px;
        flex-direction: row;
        margin-bottom: 25px;
    }
    #s0_0_5 {
        margin-bottom: 0;
    }
    #s0_0_2_0,
    #s0_0_3_0,
    #s0_0_4_0,
    #s0_0_4_0,
    #s0_0_5_0 {
        padding: 25px;
        background-color: rgba(0, 44, 73, 1);
        border-color: rgba(41, 201, 226, 1);
        border-style: solid;
        border-width: 2.5px;
    }
    #s0_0_2_0_0,
    #s0_0_3_0_0,
    #s0_0_4_0_0,
    #s0_0_5_0_0 {
        height: 100px;
        width: 100px;
    }
    #s0_0_2_0_0_0,
    #s0_0_3_0_0_0,
    #s0_0_4_0_0_0,
    #s0_0_5_0_0_0 {
        color: rgba(41, 201, 226, 1);
        height: 100%;
        margin: auto;
        width: 100%;
        font-size: 90px;
        text-align: center;
    }
    #s0_0_2_1,
    #s0_0_3_1,
    #s0_0_4_1,
    #s0_0_5_1 {
        display: flex;
        width: 100%;
        border-color: rgba(41, 201, 226, 1);
        border-style: solid;
        border-width: 2.5px 0 2.5px 2.5px;
        flex-direction: column;
    }
    #s0_0_2_1_0,
    #s0_0_3_1_0,
    #s0_0_4_1_0,
    #s0_0_5_1_0 {
        color: rgba(41, 201, 226, 1);
        padding: 5px;
        font-family: Cairo-Bold;
    }
    #s0_0_2_1_1,
    #s0_0_3_1_1,
    #s0_0_4_1_1,
    #s0_0_5_1_1 {
        overflow: auto;
        padding: 1.25px 5px;
        max-width: 100%;
    }
    #s0_0_2_1_1_0, #s0_0_2_1_1_1,
    #s0_0_3_1_1_0, #s0_0_3_1_1_1,
    #s0_0_4_1_1_0, #s0_0_4_1_1_1,
    #s0_0_5_1_1_0, #s0_0_5_1_1_1, #s0_0_5_1_1_2, #s0_0_5_1_1_3 {
        padding: 5px 0;
        border-color: rgba(41, 201, 226, 1);
        border-style: solid;
        border-width: 0 0 2.5px 0;
    }
    #s0_0_1_1_1_1,
    #s0_0_2_1_1_1,
    #s0_0_3_1_1_1,
    #s0_0_4_1_1_1,
    #s0_0_5_1_1_0, #s0_0_5_1_1_1 ,#s0_0_5_1_1_3 {
        border-width: 0 0 0 0;
    }
    #s0_0_2_1_1_0_0, #s0_0_2_1_1_0_1, #s0_0_2_1_1_0_2, #s0_0_2_1_1_0_3, #s0_0_2_1_1_0_4, #s0_0_2_1_1_0_5, #s0_0_2_1_1_0_6,
    #s0_0_2_1_1_1_0, /*more*/
    #s0_0_3_1_1_0_0, #s0_0_3_1_1_0_1, #s0_0_3_1_1_0_2, #s0_0_3_1_1_0_3,
    #s0_0_3_1_1_1_0, /*more*/
    #s0_0_4_1_1_0_0, #s0_0_4_1_1_0_1, #s0_0_4_1_1_0_2, #s0_0_4_1_1_0_3,
    #s0_0_4_1_1_1_0, /*more*/
    #s0_0_5_1_1_0_1_0, #s0_0_5_1_1_0_1_1, #s0_0_5_1_1_0_1_2, #s0_0_5_1_1_0_1_3,
    /*#s0_0_5_1_1_0_2_0, #s0_0_5_1_1_0_2_1, #s0_0_5_1_1_0_2_2, #s0_0_5_1_1_0_2_3,*/
    #s0_0_5_1_1_1_1_0, #s0_0_5_1_1_1_1_1, #s0_0_5_1_1_1_1_2, #s0_0_5_1_1_1_1_3,
    /*#s0_0_5_1_1_1_2_0, #s0_0_5_1_1_1_2_1, #s0_0_5_1_1_1_2_2, #s0_0_5_1_1_1_2_3,*/
    #s0_0_5_1_1_2_1_0, #s0_0_5_1_1_2_1_1, #s0_0_5_1_1_2_1_2, #s0_0_5_1_1_2_1_3,
    /*#s0_0_5_1_1_2_2_0, #s0_0_5_1_1_2_2_1, #s0_0_5_1_1_2_2_2, #s0_0_5_1_1_2_2_3,*/
    #s0_0_5_1_1_3_0 {
        color: rgba(41, 201, 226, 1);
        display: inline-block;
        transition: transform 0.5s ease-out;
        width: 75px;
        background-color: rgba(0, 44, 73, 1);
        border-radius: 29.6px;
        font-family: Cairo-Bold;
        font-size: 10px;
        margin: 5px;
        text-align: center;
        text-decoration: none;
    }
    #s0_0_2_1_1_0_0:hover, #s0_0_2_1_1_0_1:hover, #s0_0_2_1_1_0_2:hover, #s0_0_2_1_1_0_3:hover, #s0_0_2_1_1_0_4:hover, #s0_0_2_1_1_0_5:hover, #s0_0_2_1_1_0_6:hover,
    #s0_0_2_1_1_1_0:hover, /*more*/
    #s0_0_3_1_1_0_0:hover, #s0_0_3_1_1_0_1:hover, #s0_0_3_1_1_0_2:hover, #s0_0_3_1_1_0_3:hover,
    #s0_0_3_1_1_1_0:hover, /*more*/
    #s0_0_4_1_1_0_0:hover, #s0_0_4_1_1_0_1:hover, #s0_0_4_1_1_0_2:hover, #s0_0_4_1_1_0_3:hover,
    #s0_0_4_1_1_1_0:hover, /*more*/
    #s0_0_5_1_1_0_1_0:hover, #s0_0_5_1_1_0_1_1:hover, #s0_0_5_1_1_0_1_2:hover, #s0_0_5_1_1_0_1_3:hover,
    /*#s0_0_5_1_1_0_2_0:hover, #s0_0_5_1_1_0_2_1:hover, #s0_0_5_1_1_0_2_2:hover, #s0_0_5_1_1_0_2_3:hover,*/
    #s0_0_5_1_1_1_1_0:hover, #s0_0_5_1_1_1_1_1:hover, #s0_0_5_1_1_1_1_2:hover, #s0_0_5_1_1_1_1_3:hover,
    /*#s0_0_5_1_1_1_2_0:hover, #s0_0_5_1_1_1_2_1:hover, #s0_0_5_1_1_1_2_2:hover, #s0_0_5_1_1_1_2_3:hover,*/
    #s0_0_5_1_1_2_1_0:hover, #s0_0_5_1_1_2_1_1:hover, #s0_0_5_1_1_2_1_2:hover, #s0_0_5_1_1_2_1_3:hover,
    /*#s0_0_5_1_1_2_2_0:hover, #s0_0_5_1_1_2_2_1:hover, #s0_0_5_1_1_2_2_2:hover, #s0_0_5_1_1_2_2_3:hover,*/
    #s0_0_5_1_1_3_0:hover {
        transform: translate(0, -2.5px);
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}