.s0 {
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 50px;
}
#s0_0 {
    padding: 10px;
}
#s0_0_0,
#s0_0_1,
#s0_0_2 {
    display: flex;
    height: 300px;
    flex-direction: row;
    margin-bottom: 50px;
}
#s0_0_2 {
    margin-bottom: 0;
}
#s0_0_0_0,
#s0_0_1_0,
#s0_0_2_0 {
    padding: 50px;
    background-color: rgba(0, 44, 73, 1);
    border-color: rgba(41, 201, 226, 1);
    border-style: solid;
    border-width: 5px;
}
#s0_0_0_0_0,
#s0_0_1_0_0,
#s0_0_2_0_0 {
    height: 200px;
}
#s0_0_0_1,
#s0_0_1_1,
#s0_0_2_1 {
    display: flex;
    width: 1000%;
    border-color: rgba(41, 201, 226, 1);
    border-style: solid;
    border-width: 5px 0 5px 5px;
    flex-direction: column;
}
#s0_0_0_1_0,
#s0_0_1_1_0,
#s0_0_2_1_0 {
    padding: 10px;
    font-family: Cairo-Bold;
}
#s0_0_0_1_1,
#s0_0_1_1_1,
#s0_0_2_1_1 {
    height: 100%;
    overflow: auto;
    padding: 10px;
}